# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/

